*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gradient-orange-pink: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 15px;
  --gradient-orange-pink--active: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);

  --gradient-purple-pink: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  border-radius: 28px;
  --gradient-purple-pink--active: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  border-radius: 28px;  

  --color-dark-blue: #13183F;
  --color-light-blue: #666CA3;
  --color-pink: #F74780;
  --color-light-pink: #FFA7C3;
  --color-gray:#83869A;

  --max-width: 1110px;
}

body{
  font-family: "Plus Jakarta Sans";
  background-color: #F2F2F2;

  width: 100%;
  height: 100%;  
}

button{
  width: 167px;
  height: 56px;
  border-radius: 28px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.container{  
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;  
  align-items: center;  
  overflow-x: hidden;
}

.header{
  width: 100%;  
  max-width: var(--max-width);

  padding-top: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button{
  background-color: var(--color-dark-blue);  
}

.header__button:hover{
  background-color: var(--color-light-blue);
}

.hero{
  max-width: var(--max-width);  

  width: 100%;
  height: 641px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero__image-container{
  position: relative;  
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__image{  
  position: absolute;
  right: -80%;
  top: -235px;
  
  max-width: 1046px;
  max-height: 938px;
}

.hero__info{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero__primary-text{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: var(--color-dark-blue);
}

.hero__secondary-text{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray);

  max-width: 445px;
}

.hero__button{
  background: var(--gradient-orange-pink);
  height: 63px;
}

.hero__button:hover{
  background: var(--gradient-orange-pink--active);
}

.gallery{
  max-width: var(--max-width);
  padding-top: 110px;

  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 322px);
  gap: 80px 30px;
}

.card{
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);  

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;  
  gap: 24px;
  padding: 0 32px;  
  z-index: 0;
}

.card-1{
  background: var(--gradient-orange-pink);
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;

  justify-content: flex-start;
  padding-top: 64px;
}

.card__image{
  width: 56px;
  height: 56px;
  
  position: absolute;
  top: -24px;
  left: 32px;
  z-index: 1;
}

.card__primary-text,
.card__secondary-text,
.card__link{
  z-index: 2;
}

.card__primary-text{
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-dark-blue);
}

.card__secondary-text{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray);
}

.card__link{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-pink);  
  width: 110px;
}

.card__link:hover{
  color: var(--color-light-pink);
}

.footer{
  margin-top: 140px;
  height: 120px;
  width: 100%;
  
  background: var(--color-dark-blue);
}

.footer__container{
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__button{
  background: var(--gradient-purple-pink);
}

.footer__button:hover{
  background: var(--gradient-purple-pink--active);
}

@media screen and (max-width: 1160px) {
  .container{
    padding: 0 40px;
  }
  .gallery{
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(3, 259px);
    gap: 56px 30px;
  }

  .card{
    padding-top: 35px;
    gap: 10px;
  }

  .footer__container{
    padding: 0 40px;
  }
}

@media screen and (max-width: 1050px) {
  .hero__info{
    min-width: 464px;
  }

  .hero__image{  
    position: absolute;
    right: -90%;
    top: -210px;
  }
}

/* Tablet */
@media screen and (max-width: 965px) {
  .header__button, .footer__button{
    width: 140px;
    height: 48px;
    font-size: 16px;
  }

  .hero{
    flex-direction: column;
    margin-top: 38px;
  }
  
  .hero__info{
    min-width: unset;
    gap: 20px;
    align-self: flex-start;
  } 

  .hero__primary-text{
    font-size: 40px;
    line-height: 50px;
  }

  .hero__secondary-text{
    font-size: 16px;
    line-height: 26px;
  }

  .hero__button{
    height: 56px;
  }

  .hero__image{  
    position: static;    
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .gallery{
    padding-top: 150px;
  }

  .card-1__primary-text{
    font-size: 24px;
    line-height: 32px;
  }

  .card__primary-text{
    font-size: 20px;
    line-height: 25px;
  }

  .card__secondary-text{
    font-size: 16px;
    line-height: 26px;
  }

  .footer{
    margin-top: 80px;
  }
}

@media screen and (max-width: 780px) {
  .gallery{    
    grid-template-columns: minmax(min-content, 360px);
    grid-template-rows: min-content repeat(5, minmax(min-content, 259px));
    gap: 40px;
  }

  .card-1{
    padding: unset;
    padding: 30px 28px;
    height: 120px;    
  }
}

@media screen and (max-width: 530px) {
  .container{
    padding: 0 16px;
  }
  .gallery{
    padding-top: 0;
  }
}

@media screen and (max-width: 350px) {
  .footer{
    height: unset;
  }
  .footer__container{    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
  }
}