*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Plus Jakarta Sans";
  background-color: #fff;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
